apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
        - name: notes-app
          image: {{ .Values.image }}
          imagePullPolicy: Always
          env:
            - name: DATABASE_URL
              value: {{ .Values.databaseUrl | quote }}
          ports:
            - containerPort: 8080
